{% extends "index.html" %}
{% load crispy_forms_tags %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/script.js' %}"></script>
{% block customer %}
<nav class="nav" style="margin-left:100px; margin-top: 152px;">
    <a href="{% url 'dashboard' %}" class="btn btn-primary custom-button">dashboard</a><br>
    <a href="{% url 'customer_register' %}" class="btn btn-primary custom-button"">New Customer</a>
</nav>
<div class="customer_view"><center>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.company_name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.state }}</td>
            <td>{{ customer.postal_code }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.notes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table></center>

<body>
    <div class="container-fluid">
        <div id="customer-form-container" class="col-md-offset-4 col-md-4" style="margin-top: 10px; padding: 1px; display: none;">
            <form method="POST" action="{% url 'submit_customer' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" value="Register" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
    
</body>
</div>

{% endblock %}
