{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block customer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstarp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="custom_header">
        <h2 class="display-4 text-center">Customer Registration</h2>
  </div>
    <main class="container col-md-offset-4" id="registration-form">
        <form method="POST"  action="{% url 'submit_customer' %}">
            {% csrf_token %}
            {{ form|crispy }} 
            <button type="submit" value="Register" class="btn btn-primary">Register</button>
        </form>
    </main>
</body>
<!-- In your HTML template -->
<script src="{% static 'js/script.js' %}"></script>

</html>
{% endblock %}