

footer {
    background-color: #007BFF;
    color: #fff;
    margin-top: 37%;
    text-align: center;
}
/* Add this CSS to your stylesheet or in a <style> tag in your HTML template */

/* Style the table */
