<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>CRM Dashboard</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="sidebar">
        <div class="side-content">
            <div class="side-menu">
                <div class="sidebar">
                    <ul>
                        <li><a  href="{% url 'dashboard' %}"><span class="las la-poll"></span><small>Dashboard</small></a></li>
                        <li><a  href="{% url 'customer' %}"><span class="las la-poll"></span><small>Customers</small></a></li>
                        <li><a href="{% url 'leads' %}"><span class="las la-poll"></span><small>Leads</small></a></li>
                        <li><a href="{% url 'deals' %}"><span class="las la-poll"></span><small>Deals</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Contacts</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Accounts</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Opportunities</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Tasks</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Calendar</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Emails</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Reports</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Settings</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Help & Support</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Profile</small></a></li>
                        <li><a href=""><span class="las la-poll"></span><small>Log Out</small></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block dashboard %}
    {% endblock %}

<!-- customer -->
    <div class="customer_view">
    {% block customer_table %}
    {% endblock %}</div>

<!-- leads -->
    <div class="leads">
    {% block leads %}
    {% endblock %}</div>

    <div class="analystics">
    {% block leads_analystics %}
    {% endblock %}</div>
<!-- DEALS -->

<div class="deals">
    {% block deals %}
    {% endblock %}</div>

    <div class="analystics">
        {% block deals_analystics %}
        {% endblock %}</div>
</body>
