{% extends "index.html" %}
{% block dashboard %}

<div class="main-content">
    <div class="header text-center mb-4">
        <h1>Welcome to Ant Solutions CRM</h1>
    </div>

    <div class="row card-row">
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="{% url 'deals' %}" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Deals</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="{% url 'leads' %}" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Leads</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Inventory</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="{% url 'customer' %}" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Customers</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sales</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="{% url 'analytics' %}" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Analytics</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}